<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.armedpineapple.innoextract"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        
        <service
            android:name="uk.co.armedpineapple.innoextract.ExtractService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity
            android:name="net.rdrei.android.dirchooser.DirectoryChooserActivity"
            android:label="Choose Directory" />
            
        <activity
            android:name="uk.co.armedpineapple.innoextract.ExtractActivity"
            android:label="@string/dialog_name"
            android:theme="@style/DialogTheme">
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                
                <!--
                This is disgusting, but is required because of this bug: 
                http://stackoverflow.com/questions/3400072/pathpattern-to-match-file-extension-does-not-work-if-a-period-exists-elsewhere-i
                I'm really sorry :(                -->
                
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.exe" />
                <data android:pathPattern=".*\\..*\\.exe" />
                <data android:pathPattern=".*\\..*\\..*\\.exe" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.exe" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.exe" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.exe" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.exe" />
            </intent-filter>
        </activity>
        <activity
            android:name="uk.co.armedpineapple.innoextract.LogActivity"
            android:label="@string/title_activity_log" >
        </activity>
    </application>

</manifest>