<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="uk.co.armedpineapple.innoextract.service">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application>
    <service
            android:name=".ExtractService"
            android:enabled="true"
            android:exported="false"/>
        <activity
                android:name=".LogActivity"
                android:label="@string/title_activity_log"
                android:theme="@style/BaseTheme"/>

    </application>

</manifest>
